{% extends 'layout/base.html' %}

{% load static %}

{% block judul %}
{% if post %}
Edit {{ post.title }}
{% else %}
{{ judul }}
{% endif %}
{% endblock judul %}

{% block css %}
<!-- summernote -->
<link rel="stylesheet" href="{% static 'plugins/summernote/summernote-bs4.min.css' %}">
{% endblock css %}

{% block konten %}
<div class="card">
    <div class="card-header">
        {% if post %}
        Edit {{ post.title }}
        {% else %}
        {{ judul }}
        {% endif %}
    </div>
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Judul Post</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Saya Suka Dia" value="{% if post %} {{ post.title }} {% endif %}" required>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select class="js-states form-control" required data-placeholder="Select a Category" name="category" id="category">
                    {% for category in categories %}
                    <option value="{{ category.slug }}" {% if post and category.slug == post.category.slug %}  selected {% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <textarea id="summernote" name="text" required>
                    {% if post %} {{ post.text | safe }} {% endif %}
                </textarea>
            </div>
            <input type="submit" value="Save" class="btn btn-primary">

        </form>
    </div>
</div>
{% endblock konten %}

{% block js %}
<!-- Summernote -->
<script src="{% static 'plugins/summernote/summernote-bs4.min.js' %}"></script>
<script>
    $(document).ready(function () {

        $(function () {
        // Summernote
        $('#summernote').summernote()
    
        });

        //Initialize Select2 Elements
        $('#category').select2({
            placeholder: 'Select an Category',
            allowClear: true
        })

    });
</script>
{% endblock js %}