{% extends 'layout/base.html' %}


{% block judul %}
{{ judul|title }}
{% endblock judul %}

{% block css %}
<style>
    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }
</style>  
{% endblock css %}

{% block konten %}
<div class="card mb-3">
    <div class="card-header">
        <h4 class="text-center">Selamat Datang {{ user }}</h4>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header d-flex justify-content-between">
        <div>
            <h5 class="text-center">Category</h5>
        </div>
        <div>
            <form action="" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Cari" aria-label="Cari" aria-describedby="button-addon2" name="key" value="{{ request.GET.q }}">
                    <input type="submit" value="Cari" class="btn btn-outline-secondary" type="button" id="button-addon2">
                </div>
            </form>
        </div>
        {% if posts.paginator.num_pages > 1 %}
        <div>
            <div class="dropdown-center">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </button>
                <ul class="dropdown-menu scrollable-menu" role="menu">
                    {% for page in posts.paginator.page_range %}
                    <li><a class="dropdown-item" href="?page={{ page }}&key={{ request.GET.key }}">{{ page }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="card-header navbar navbar-expand-lg justify-content-center">
        <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCategoryContent" aria-controls="navbarCategoryContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCategoryContent" class="collapse navbar-collapse overflow-auto">
            <div class="mx-auto text-center" style="max-height: 200px;">
                <ul class="list-group list-group-horizontal-sm">
                    <li class="text-center list-group-item"><a href="/" class="list-group-item-action link-secondary link-underline-light">All</a></li>
                    {% for category in categories %}
                    <li class="text-center list-group-item"><a href="{% url 'blog:category' category.slug %}" class="list-group-item-action link-secondary link-underline-light text-nowrap">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        {{ judul|title }}
    </div>
    <div class="card-body">
        <div class="list-group">
        {% for post in posts %}
            <li class="list-group-item list-group-item-action mb-3 shadow">
                <div class="d-flex w-100 justify-content-between">
                    <a href="{% url 'blog:detail' post.slug %}" class="link-underline link-underline-opacity-0 link-body-emphasis">{{ post.title }}</a>
                </div>
                <small class="mb-1 text-secondary fst-italic">
                    create at {{ post.createAt|date:"SHORT_DATE_FORMAT" }} 
                    by <a href="{% url 'users:index' post.author %}" class="link-underline link-underline-opacity-0 link-secondary">
                        {{ post.author}}
                    </a> 
                    in <a href="{% url 'blog:category' post.category.slug %}" class="link-underline link-underline-opacity-0 link-secondary">
                        {{ post.category.name }}
                    </a>
                </small>
            </li>
        {% empty %}
        <h1 class="card-text"> Tidak ada Data</h1>
        {% endfor %}
        </div>      
    </div>     
</div>
{% endblock konten %}
{% block js %}
<script>
    $(document).ready(function () {
        $('#page').select2({
            placeholder: 'Select an Page',
            allowClear: true
        })
    });
</script>    
{% endblock js %}