{% extends 'layout/base.html' %}


{% block judul %}
{{ judul }}
{% endblock judul %}

{% block konten %}
<div class="card mb-3">
    <div class="card-header">
        <h4 class="text-center">Selamat Datang {{ user }}</h4>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        <h5 class="text-center">Category</h5>
    </div>
    <div class="card-header navbar navbar-expand-lg justify-content-center">
        <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCategoryContent" aria-controls="navbarCategoryContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCategoryContent" class="collapse navbar-collapse overflow-auto">
            <div class="mx-auto text-center" style="max-height: 200px;">
                <ul class="list-group list-group-horizontal-sm">
                    <li class="text-center list-group-item"><a href="/" class="list-group-item-action link-secondary link-underline-light">All</a></li>
                    {% for category in categories %}
                    <li class="text-center list-group-item"><a href="{% url 'blog:category' category.slug %}" class="list-group-item-action link-secondary link-underline-light">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        {{ judul }}
    </div>
    <div class="card-body">
        {% for post in posts %}
        <div class="card mb-2">
            <div class="card-header">
                <p class="fs-4 fw-bold mb-3">{{ post.title }}</p>
                <blockquote class="blockquote fs-6">
                    <footer class="blockquote-footer"><cite title="Source Title">{{ post.createAt }}</cite> by <cite title="Source Title">{{ post.author}}</cite> in <cite title="Source Title">{{ post.category.name }}</cite></footer>
                </blockquote>
            </div>
            <div class="card-body">
                {{ post.text|slice:':300'| safe }}...
            </div>
            <div class="card-footer">
                <a href="{% url 'blog:detail' post.slug %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
        {% endfor %}
    </div>     
</div>
{% endblock konten %}