{% extends 'layout/base.html' %}
{% load custom_tags %}


{% block judul %}
{{ post.title }}
{% endblock judul %}

{% block konten %}
<div class="card">
    <div class="card-header">
        <p class="fs-4 fw-bold mb-3">{{ post.title }}</p>
        <blockquote class="blockquote fs-6">
            <footer class="blockquote-footer">
                <cite title="Source Title">
                    {{ post.createAt|date:"SHORT_DATE_FORMAT" }}
                </cite> by 
                <cite title="Source Title">
                    <a href="{% url 'users:index' post.author %}" class="link-underline link-underline-opacity-0 link-secondary">
                        {{ post.author}}
                    </a>   
                </cite> in 
                <cite title="Source Title">
                    <a href="{% url 'blog:category' post.category.name %}" class="link-underline link-underline-opacity-0 link-secondary">
                        {{ post.category.name }}
                    </a>
                </cite>
            </footer>
        </blockquote>
    </div>
    <div class="card-body">
        {{ post.text | safe }}
    </div>
    <div class="card-footer">
        <button class="btn btn-info" onclick="history.back()"> Back </button>
    {% if request.user|has_group:"admin" or user.is_superuser or post.author == user %}
        <a href="{% url 'blog:edit' post.slug %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'blog:delete' post.slug %}" class="btn btn-danger" onclick="return confirm('Delete Post With Title {{ post.title }}')">Delete</a> 
    {% endif %}
    </div>
</div>
{% endblock konten %}