{% extends 'layout/base.html' %}
{% load custom_tags %}


{% block judul %}
{% if post.is_publish or request.user|has_group:"admin" or user.is_superuser or post.author == user %}
{{ post.title }}
{% else %}
Can't See Anymore!!
{% endif %}
{% endblock judul %}

{% block konten %}
{% if post.is_publish or request.user|has_group:"admin" or user.is_superuser or post.author == user %}
<div class="card">
    <div class="card-header">
        <p class="fs-4 fw-bold mb-3">
            {{ post.title }}
            {% if not post.is_publish %}
                <span  data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Not Publised">
                    <i class="fa-solid fa-triangle-exclamation" style="color: #ff0000;"></i>
                </span>
            {% endif %}
        </p>
        <blockquote class="blockquote fs-6">
            <footer class="blockquote-footer">
                <cite title="Source Title">
                    {{ post.createAt|date:"SHORT_DATE_FORMAT" }}
                </cite> by 
                <cite title="Source Title">
                    <a href="{% url 'users:index' post.author %}" class="link-underline link-underline-opacity-0 link-secondary">
                        {{ post.author}}
                    </a>   
                </cite> in 
                <cite title="Source Title">
                    <a href="{% url 'blog:category' post.category.slug %}" class="link-underline link-underline-opacity-0 link-secondary">
                        {{ post.category.name }}
                    </a>
                </cite>
            </footer>
        </blockquote>
    </div>
    <div class="card-body">
        {{ post.text | safe }}
    </div>
    <div class="card-footer d-flex justify-content-between">
        <div>
            <button class="btn btn-info" onclick="history.back()"> Back </button>
            {% if request.user|has_group:"admin" or user.is_superuser or post.author == user %}
                <a href="{% url 'blog:edit' post.slug %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'blog:delete' post.slug %}" class="btn btn-danger" onclick="return confirm('Delete Post With Title {{ post.title }}')">Delete</a> 
            {% endif %}
        </div>
        <div>
            Editor
            <cite title="Source Title">
                <a href="{% url 'users:index' post.publisher %}" class="link-underline link-underline-opacity-0 link-secondary">
                    {{ post.publisher}}
                </a>   
            </cite>
        </div>
    </div>
</div>
{% else %}
<div class="card text-center">
    <div class="card-body">
        <p class="fs-2" >You Must Login As Admin User or Super User or Post Onwer</p>
    </div>
</div>
{% endif %}
{% endblock konten %}

{% block js %}
<script>
    const tooltip = new bootstrap.Tooltip('span', {
        boundary: document.body // or document.querySelector('#boundary')
    })
</script>
{% endblock js %}