{% extends 'layout/base.html' %}

{% block judul %}
Edit Akun {{ user.username }}
{% endblock judul %}

{% block konten %}
<div class="d-flex justify-content-center">
    <div class="card w-50">
        <div class="card-header">
          Register
        </div>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">Nama Lengkap</label>
                    <input type="text" class="form-control" id="name" placeholder="Azis Yulianas" name="name" value="{{ user.full_name }}">
                </div>
                <div class="mb-3">
                    <label for="alamat" class="form-label">Nama Lengkap</label>
                    <textarea class="form-control" id="alamat" name="alamat">
                        {{ user.alamat }}
                    </textarea>
                </div>
                <input type="submit" value="Change" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock konten %}