{% extends 'layout/base.html' %}
{% load custom_tags %}

{% block judul %}
User | {{ users.username }}
{% endblock judul %}

{% block konten %}

<div class="card mb-2">
    <div class="card-header">
        Keterangan User {{ users.username }}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-6">
                <div>
                    {% if users.image %}
                        <img src="{{ users.image.url }}" alt="{{ users.username }}">
                    {% else %}
                        <img src="https://storage.ko-fi.com/cdn/useruploads/display/39d7fa2f-9353-4cb1-91f9-7c5c1c2d4f61_0f217d0189f841ae794500966ab1845a.jpg" alt="{{ users.username }}" width="300pt" height="300pt">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div>
                    <table>
                        <tr>
                            <th>username</th>
                            <td>: {{ users.username }}</td>
                        </tr>
                        <tr>
                            <th>Nama</th>
                            <td>:{% if users.full_name %} {{ users.full_name }} {% else %} {% endif %}</td>
                        </tr>
                        <tr>
                            <th>Alamat</th>
                            <td>: {% if users.alamat %} {{ users.alamat }} {% else %} {% endif %}</td>
                        </tr>
                        <tr>
                            <th>Bio</th>
                            <td>: {% if users.bio %} {{ users.bio }} {% else %} {% endif %}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        {% if users.username == user %}
        <a href="{% url 'users:edit' users.username %}" class="btn btn-primary">Edit</a>
        {% endif %}
    </div>
</div>
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div>
            Postingan User {{ users.username }}
        </div>
        <div>
            {% if posts.paginator.num_pages > 1 %}
                <div>
                    <div class="dropdown-center">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                        </button>
                        <ul class="dropdown-menu scrollable-menu" role="menu">
                            {% for page in posts.paginator.page_range %}
                            <li><a class="dropdown-item" href="?page={{ page }}">{{ page }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        {% if posts %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Judul</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        {{ post.title }}
                        {% if not post.is_publish %}
                        <span  data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Not Publised">
                            <i class="fa-solid fa-triangle-exclamation" style="color: #ff0000;"></i>
                        </span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'blog:detail' post.slug %}"><i class="fa-solid fa-eye"></i></a>
                        {% if users.username == user %}
                        <a href="{% url 'blog:edit' post.slug %}"><i class="fa-solid fa-pen-to-square"></i></i></a>
                        <a href="{% url 'blog:delete' post.slug %}" onclick="return confirm('Delete Post {{ post.title }}?.')"><i class="fa-solid fa-trash"></i></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h1 class="card-text"> Tidak ada Data</h1>
        {% endif %}
    </div>
</div>

{% endblock konten %}
{% block js %}
<script>
    const tooltip = new bootstrap.Tooltip('span', {
        boundary: document.body // or document.querySelector('#boundary')
    })
</script>
{% endblock js %}