{% extends 'layout/base.html' %}


{% block judul %}
Users
{% endblock judul %}

{% block konten %}
<div class="card">
    <div class="card-header">
        List Users
    </div>
    <div class="card-body">
        <a href="{% url 'users:create' %}" class="btn btn-primary">Tambah User</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Username</th>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.alamat }}</td>
                    <td>
                        <a href="{% url 'users:index' user.username %}"><i class="fa-solid fa-eye"></i></a>
                        <a href="#"><i class="fa-solid fa-pen-to-square"></i></i></a>
                        <a href="#" onclick="confirm('Delete Post {{ user.username }}?.')"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock konten %}