{% extends 'layout/base.html' %}


{% block judul %}
Users
{% endblock judul %}

{% block konten %}
<div class="card">
    <div class="card-header">
        List Users
    </div>
    <div class="card-body">
        {% if request.user.groups.filter.name.admin.exists or user.is_superuser %}
        <a href="{% url 'users:create' %}" class="btn btn-primary">Tambah User</a>
        {% endif %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Username</th>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for usere in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ usere.username }}</td>
                    <td>{{ usere.full_name }}</td>
                    <td>{{ usere.alamat }}</td>
                    <td>
                        <a href="{% url 'users:index' usere.username %}"><i class="fa-solid fa-eye"></i></a>
                        {% if usere.username == user%}
                        <a href="{% url 'users:edit' usere.username %}"><i class="fa-solid fa-pen-to-square"></i></i></a>
                        {% elif request.user.groups.filter.name.admin.exists or user.is_superuser %}
                        <a href="#" onclick="return confirm('Delete Post {{ usere.username }}?.')"><i class="fa-solid fa-trash"></i></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock konten %}