{% load static %}

<header class="container mb-2">
    <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a class="navbar-brand" href="/">
                <img src="{% static 'icon/logo.svg' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                Azis DjangoBlog
            </a>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li>
                <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li>
                <a class="nav-link" aria-current="page" href="{% url 'blog:indexcategory' %}">List Category</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a class="nav-link" href="{% url 'blog:create' %}">Create Post</a>
            </li>
            {% endif %}
            <li>
                <a class="nav-link" href="{% url 'users:list' %}">List User</a>
            </li>
            <li>
                <a class="nav-link" href="#">About Web</a>
            </li>
        </ul>
        <div class="col-md-3 text-end">
            {% if user.is_authenticated %}
                <a href="{% url 'users:index' user %}" class="btn btn-primary me-2">{{ user }}</a>
                <a href="{% url 'users:logout' %}" class="btn btn-danger">Log Out</a>
            {% else %}
                <a href="#" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#modalForms">Login</a>
            {% endif %}
        </div>
    </nav>
</header>
<!-- End Header -->
{% if not user.is_authenticated %}
<!-- Modal Form -->
<div class="modal fade" id="modalForms" tabindex="-1" aria-labelledby="modalFormsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalFormsLabel">Login</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'users:login' %}" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                            <label for="username" class="col-form-label">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Username" name="username">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="col-form-label">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                        </div>
                        {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" value="Login" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}